[submodule "tinyexpr"]
	path = tinyexpr
	url = https://github.com/codeplea/tinyexpr.git
[submodule "Kolibrios-Cpp-Lib"]
	path = Kolibrios-Cpp-Lib
	url = https://github.com/Egor00f/Kolibrios-Cpp-Lib.git
